.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 200px;
}

#demo-simple-select-label{
   font-family:'Mochiy Pop P One', sans-serif ;
   color:#ffffff;
}
.box{
    background-color: rgba(226, 70, 166, 0.719);
}