.cart-container{
    align-self: center;
    border: 3px solid seagreen;
    overflow: scroll;
    width: 800px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;

}
.item-card{
    border: 3px solid rgb(167, 10, 23);
    width: 700px;
    height: 125px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    .items{
    display: flex;
    justify-content: flex-start;
    align-items:center ;
    }
    img{
    width: 70px;
    height: 90px;
    margin-right: 10px;
    border: 3px solid seagreen;
    }
}
